{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["prettier", "you-dont-need-lodash-underscore"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0,
    "no-unused-vars": 1
  }
}